*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  box-sizing: border-box;
}


body {
  margin: auto;
  padding: 0;
  background-color: white;

  /* line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; */
}
html {
  font-size: 82.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.nav__search-btn svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #f7f7f7;
}

.heading-box__detail svg {
  margin-right: 0.8rem;
}

.overview-box__detail svg {
  margin-right: 1.25rem;
}

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important;
}
.side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}

.card__data svg {
  margin-right: 0.7rem;
}

.card__icon {
  height: 1.3rem;
  width: 2rem;
  fill: #1052F8;
}


.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  float: right;
  /* display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; */
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 10px;
}
/* .nav__el:hover,
.nav__el:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black;
} */
.nav__el:not(:last-child) {
  margin-right: 3rem;
}
 media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.nav__el:focus {
  outline: none;
}
.nav__el--cta {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: 1px solid currentColor !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 30px;
}
.nav__el--cta:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #f7f7f7;
}

a.nav__el.nav__el--logout {
  color: #f7f7f7;
}
a.nav__el.nav__el--logout:hover {
  color: #f7f7f7;
}

.header {
  overflow: hidden;
  background-color: #333;
  width: 100;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 40px 40px rgba(0, 0, 0, 0.5);
  animation: fade 1s ease;
}

/* .header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 37px 26px;
  text-decoration: none;
  font-size: 17px;
} */

/* .header a:hover {
  background-color: #ddd;
  color: black;
} */


.header a.active {
  /* background-color: #1E90FF; */
  color: white;
  padding: 10px;
  /* height: 80px; */

}

#logo {
  height: 69px;
}

.header .icon {
  display: none;
}

.nav__search-input[type="text"] {
  width: 70px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin: 40px 1px 20px 70px;
  display: inline;
}

.nav__search-btn{
  margin: 40px -30px 5px 100px;
  color: white;
  background: none;
  border: none;
  display: inline;

}

.container-fluid {
  margin-top: 60px;

}

#main-title {
  text-align: center;
  font-size: 3rem;
}

/* card styles */

.card__box {
  padding: 50px;

}

.card-container {
  max-width: 120rem;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}

.card {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#1052F8),
    to(#1E90FF)
  );
  background-image: linear-gradient(
    to bottom right,
    #1052F8,
    #1E90FF
  );
}

.heading-primary {
  font-size: 5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}

.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1.7;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ABD8FB),
    to(#1052F8)
  );
  background-image: linear-gradient(
    to bottom right,
    #ABD8FB,
    #1052F8
  );
}

.heading-tertirary {
  font-size: 2rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 60%;
  z-index: 10;
}

.card__header {
  position: relative;
}
.card__picture {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  height: 22rem;
}
.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ABD8FB),
    to(#078CF2)
  );
  background-image: linear-gradient(to right bottom, #ABD8FB, #078CF2);
  opacity: 0.7;
}
.card__picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}

.card__text {
  grid-column: 1 / -1;
  font-size: 1.2rem;
  padding: 5px;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.card__data {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__ratings  {
  font-size: 1rem;
}

.card__footer {
  background-color: #E9EAEB;
  padding: 2.5rem 3rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}

.card__footer-value {
  font-weight: 500;
  font-size: 1rem;
}

.card__footer-text {
  color: #999;
  font-size: 1rem;
}
.card__ratings {
  grid-row: 2 / 3;
}



.btn,
.btn:link,
.btn:visited {
  background-color: #1052F8;
  color: white;
  font-size: 0.7rem;
  /* padding: 1.4rem 3rem; */
  padding: 18px 10px 15px;
  border-radius: 10rem;
  text-transform: uppercase;
  /* display: inline-block; */
  display: grid;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 200;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 1;

  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #078CF2;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

 .btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}


.btn:focus {
  outline: none;
  background-color: #1052F8;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #1052F8;
  color: #fff;

}
.btn--green::after {
  background-color: #1052F8;
}




.btn-text:link,
.btn-text:visited {
  color: #1052F8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1052F8;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #1052F8;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

.btn-text:focus {
  outline: none;
  outline: 3px solid #078CF2;
  outline-offset: 3px;
}


#map {
  color: #078CF2;
  margin: 30px
}
#cal_period {
  color: #078CF2;
  margin: 10px
}

h4 {
  padding: 5px;
}
/* ******* Footer *********** */

.footer {
  background-color: #f7f7f7;
  padding: 4rem 4rem 3rem 4rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 601px) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }
}

.footer__logo {
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
  align-self: center;
}
@media only screen and (max-width: 10em) {
  .footer__logo {
    grid-row: 1;
  }
}

.footer__logo img {
  height: 3rem;
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__nav li {
  margin-left: 0.5rem;
}
.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__nav a:hover,
.footer__nav a:active {
  color: #078CF2;
}
.footer__copyright {
  justify-self: end;
  color: #999;
}
@media only screen and (max-width: 601px) {
  .footer__copyright {
    justify-self: center;
    font-size: 10px;
  }
  .footer__nav li {
    margin-left: 0.1rem;
    font-size: 10px;
  }
  /* .card-container {
    grid-template-columns: 2fr;
  } */

}



/*******   Nav media queries  *******/

@media screen and (max-width: 601px) {
  .header a:not(:first-child)
  .header a.icon {
    float: right;
    display: block;
    padding: 20px;
    margin: 10px;
  }
  .header.responsive {position: relative;}
  .header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav__search-input[type="text"] {
    width: 70px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin: 1px 10px 2px 2px;

  }
  .nav__search-btn{
    margin: 40px 2px 5px 15px;
    color: white;
    background: none;
    border: none;


  }
  .header a.active {
    padding: 30px 10px;
    font-size: 10px;
  }
  #logo {
    height: 40px;

  }

  btn,
  .btn:link,
  .btn:visited {
    padding: 10px 10px 20px;
  }




}

@media screen and (min-width: 736px) {
  .header__hero-overlay {
    padding: 0 0 380px;
  }
  #map {
    margin-top: 60px;
  }
  .header__hero-overlay {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1024px) {

  .card-container {
    grid-template-columns: 1fr;
  }
  btn,
  .btn:link,
  .btn:visited {
    padding: 20px 10px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .nav__search-input[type="text"] {
    width: 70px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin: 40px 1px 20px 50px;
    display: inline;
    padding: -20px;
  }

  .nav__search-btn{
    margin: 40px -30px 5px 310px;
    color: white;
    background: none;
    border: none;
    display: inline;

  }
  .picture-box__img {
    height: 590px;
  }
  #map {

    margin-top: 100px;
  }
 .overview-box {
   padding: 10px 0 0;
 }
}

@media screen and (min-width: 1280px) {
  .nav__search-input[type="text"] {
    width: 100px;
    margin: 40px 1px 20px 50px;
    padding: -20px;
  }

  .nav__search-btn{
    margin: 40px -30px 5px 620px;

  }
}

@media screen and (min-width: 1400px) {
  .nav__search-input[type="text"] {
    width: 100px;
    margin: 40px 1px 20px 50px;
    padding: -20px;
  }

  .nav__search-btn{
    margin: 40px -30px 5px 740px;

  }
}

@media screen and (min-width: 1560px) {
  .nav__search-input[type="text"] {
    width: 100px;
    margin: 40px 1px 20px 50px;
    padding: -20px;
  }

  .nav__search-btn{
    margin: 40px -30px 5px 840px;

  }
}

@media screen and (min-width: 1650px) {
  .nav__search-input[type="text"] {
    width: 100px;
    margin: 40px 1px 20px 50px;
    padding: -20px;
  }

  .nav__search-btn{
    margin: 40px -30px 5px 1140px;

  }
}

/* Tour  */

.section-header {
  position: relative;
  height: 38vw;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

.header__hero {
  height: 100%;
}

.header__hero-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: 50% 25%;
  object-position: 50% 25%;
}

.header__hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#078CF2),
    to(#1052F8)
  );
  background-image: linear-gradient(to right bottom, #078CF2, #1052F8);
  opacity: 0.85;
}
.heading-box {
  position: absolute;
  bottom: 13vw;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.heading-box__group {
  color: #f7f7f7;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.heading-box__detail {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}
.heading-box__detail svg {
  margin-right: 0.8rem;
}
.heading-box__detail:not(:last-child) {
  margin-right: 4rem;
}
.heading-box__icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

.section-description  {
  background-color: #f7f7f7;
  margin-top: calc(0px - var(--section-rotate));
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
     "overview-box description-box"; */

}
.section-description > * {
  padding: 0 8vw;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  /* -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; */
}

@media screen and (max-width: 729px) {
  .section-description {
    display: block;
  }
  #map {
    margin-top: 60px;
  }
}

.overview-box {
  /* float: left; */
 /* background-color: green;
 width: 50% */
}
.description-box {
  /* float: right; */
  background-color: white;
  padding: 30px;

}
.heading-secondary {
  margin-top: 10px;
}
.description__text {
  margin-top: 40px;
}

.overview-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}
.overview-box__group:not(:last-child) {
  margin-bottom: 2rem;
}

.overview-box__detail {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}
.overview-box__detail svg {
  margin-right: 1.25rem;
}
.overview-box__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}
.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #078CF2;
}

.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.overview-box__text {
  text-transform: capitalize;
}
.overview-box__img {
  border-radius: 50%;
  height: 3.5rem;
  margin-right: 1.25rem;
}

.description-box .description {
  margin-right: 5rem;
}
.description-box .description__text {
  font-size: 1.7rem;
}
.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}


.picture-box__img {
  display: inline-block;
  float: left;
 width: 33.33%;
 /* width: 100px; */
 height: 160px;
 padding: 1px;
   /* height: 100%; */
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-pictures {
  padding-top: 10px;
}

@media screen and (max-width: 414px) {
  .picture-box__img {
    height: 80px;
  }
  .section-map {

    margin-left: -40px;
  }

}
.section-map {
  display: block;
  position: relative;
  height: 59rem;
  /* margin-top: calc(0px - var(--section-rotate)); */
  margin-top: 100px;
}
#map {
   position: absolute;
   top: 0;
  bottom: 0;
  width: 85%;
  height: 100%;
}
 .marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;

}
@media screen and (max-width: 375px) {
  .section-map {


  }
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}


.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#1052F8),
    to(#078CF2)
  );
  background: linear-gradient(to right bottom, #1052F8, #078CF2);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );

}

.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 4rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;

}
.reviews__card {
  width: 30rem;
  padding: 4rem;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews:before,
.reviews:after {
  content: '';
  width: 2rem;
}
.reviews__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}
.reviews__avatar-img {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.reviews__user {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.reviews__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400;
}
.reviews__rating {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.reviews__star--active {
  fill: #1052F8;
}
.reviews__star--inactive {
  fill: #bbb;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + var(--section-rotate));
  background-color: #f7f7f7;
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}
.cta__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
.cta__img--logo {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#078CF2),
    to(#1052F8)
  );
  background: linear-gradient(to right bottom, #1052F8, #078CF2);
  z-index: 10;
  -webkit-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
}
.cta__img--logo img {
  width: 100%;
}
.cta__img--1 {
  -webkit-transform: translate(-10%, -50%) scale(0.97);
  transform: translate(-10%, -50%) scale(0.97);
  z-index: 9;
}
.cta__img--2 {
  -webkit-transform: translate(15%, -50%) scale(0.94);
  transform: translate(15%, -50%) scale(0.94);
  z-index: 8;
}
.cta__content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.7rem;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cta__text {
  font-size: 1.9rem;
  font-weight: 400;
}


@media screen and (max-width: 430px) {
  .cta {
    /* display: none; */
  }

  @media screen and (min-width: 840px) {
    .section-map {
      display: block;
      position: relative;
      height: 45rem;
      /* margin-top: calc(0px - var(--section-rotate)); */
      margin-top: 170px;
    }
  }

  .heading-primary,
  .heading-tertirary {

    font-weight: 100;
  }
  .heading-primary span,
  .heading-tertirary span {
    padding: 0.5rem 1rem;
    line-height: 0.5;

  }

  .heading-primary {
    font-size: 2rem;
    text-align: center;
    width: 30%;
    margin: 0 auto;
  }


  .heading-tertirary {
    font-size: 1rem;
    text-align: right;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 50%;
    z-index: 10;
  }


}

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
}
/* @media screen and (min-width: 1030px) {
  .section-map {
    margin-top: 10px;
  }
} */

@media screen and (max-width: 1024px) {
  .user-view {
    display: block;
  }
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 414px) {
  .user-view {
    display: block;
  }
  html {
    font-size: 45%;
  }
}

.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from( #1052F8),
    to#078CF2)
  );
  background-image: linear-gradient(to right bottom, #1052F8, #078CF2);
  padding: 4rem 0;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

/* ********  Login ********* */

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #078CF2;
  outline-offset: 3px;
}

.form__upload + label {
  color: #078CF2;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #078CF2;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color:#078CF2;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.btn--green::after {
  background-color: blue;
}
.main {
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  margin-top: 20px;
}
.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#078CF2),
    to(#1052F8)
  );
  background-image: linear-gradient(to right, #078CF2, #1052F8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.nav--user {
  /* -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 70%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; */
 float: right;
 cursor: pointer;
 padding: 10px;
}

.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-left: 10px;

}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
